extends layout

block content
  .row
    .card-columns.white-bgd.card-shadow.col-xs-12.col-sm-10.col-sm-offset-1
      .card
        .row.card-header
          h1.card-title.text-center= title
      .all
        ul.nav
          each fact in factsList
            li
              a(href="#{link}/#{fact._id}") #{fact.fact}
        .row.card-block
          .col-md-6.col-centered
            a.btn-a.text-center(href="/")
              .btn.charcoal-bgd.btn-primary.center-block
                p Back to main menu