extends layout

block content
  h1= title
  p
  a(href='/facts/all') View All Facts
  br
  a(href='/facts/new') Add a Fact
  br
  a(href='/facts/edit') Edit a Fact
  //for remove fact + search fact i'm thinking to show all facts before searching/picking one to delete