extends layout

block content
  .row
    .card-columns.white-bgd.card-shadow.col-xs-12.col-sm-10.col-sm-offset-1
      .card
        .row.card-header
          h1.card-title.text-center= title
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Find fact by category
            h2
              strong Instructions:
            ol.primary-text
              li First, select 
                strong Find a fact. 
              li Then, select 
                strong Find by category. 
              li Lastly, select one or more categories. Selecting multiple categories narrows your search.
            img.img-responsive.center-block(src="/images/category.gif", alt="Gif image that walks through finding fact by category")
            p.text-center
              small Step by step walk through of finding a fact by using 
                strong categories/tags
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Find fact by keyword
            h2
              strong Instructions:
            ol.primary-text
              li First, select 
                strong Find a fact. 
              li Then, select 
                strong Find by title or description 
              li Lastly, separate out your keyword(s) using a comma (,). Selecting multiple keywords broadens your search
            img.img-responsive.center-block(src="/images/keyword.gif", alt="Gif image that walks through finding fact by keyword(s)")
            p.text-center
              small Step by step walk through of finding a fact by using 
                strong keywords
        .row.card-block
          .col-sm-12
            p.primary-text.text-center View all facts
            h2
              strong Instructions:
            ol.primary-text
              li First, select 
                strong Find a fact. 
              li Then, select 
                strong See all 
            img.img-responsive.center-block(src="/images/all-facts.gif", alt="Gif image that walks through viewing all facts")
            p.text-center
              small Step by step walk through of 
                strong viewing all facts
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Add a fact
            h2
              strong Instructions:
            ol.primary-text
              li First, select 
                strong Add a fact. 
              li Then, 
                strong enter your fact 
                | in the text field
              li Lastly, if you want to add categories for your fact separate out your keyword(s) using a comma (,).
            img.img-responsive.center-block(src="/images/add-fact.gif", alt="Gif image that walks through adding a fact")
            p.text-center
              small Step by step walk through of 
                strong adding a fact
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Delete a fact
            h2
              strong Instructions:
            ol.primary-text
              li First, select 
                strong Find a fact. 
              li Then, select 
                strong See all
              li Lastly, 
                strong click the trash can  
                | icon to delete the fact
            img.img-responsive.center-block(src="/images/delete-fact.gif", alt="Gif image that walks through deleting a fact")
            p.text-center
              small Step by step walk through of 
                strong deleting a fact
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Alexa Video Demo
            video.center-block(height="300" width="480" controls)
              source(src="http://mvc.tbytes.me/demo.mp4" type="video/mp4")
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Get a random weird but true fact
            img.img-responsive.center-block(src="/images/random.gif", alt="Gif image that shows service simulator retrieving a random weird but true fact from published Alexa skill")
            br
            p.text-center
              small Getting a 
                strong random 
                | weird but true fact from published Alexa skill using Service Simulator
        .row.card-block
          .col-sm-12
            p.primary-text.text-center Get a weird but true fact of a specific category
            img.img-responsive.center-block(src="/images/category-fact.gif", alt="Gif image that shows service simulator retrieving a weird but true fact of a specific category from published Alexa skill")
            br
            p.text-center
              small Getting a weird but true fact of a 
                strong specific category 
                | (animal in this example) from published Alexa skill using Service Simulator